body {
  background-image: url("https://images.pexels.com/photos/139259/pexels-photo-139259.jpeg?w=1260&h=750&auto=compress&cs=tinysrgb");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
  background-position: center;
}
